<div class="container mt-5">
    <div class="row w-auto">
      <div class="card text-center w-100">
        <div class="card-header panelHeder" (click)="panelExpanded = !panelExpanded">
          Featured
        </div>
        <div class="card-body w-100"  *ngIf = "panelExpanded">
          <h5 class="card-title w-100">List Of Employee</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted w-100"  *ngIf = "panelExpanded">
          2 days ago
        </div>
      </div>
    </div>
    <br />
    <hr>
    <br />
    <div class="row w-auto">
      <div class="card text-center w-100">
        <div class="card-header panelHeder" (click)="isHidden = !isHidden">
          Featured
        </div>
        <div class="card-body w-100"  [hidden]="isHidden">
          <h5 class="card-title w-100">List Of Employee</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted w-100"  [hidden]="isHidden">
          2 days ago
        </div>
      </div>
    </div>
  </div>